/**
!/.gitignore

!/frameworks/
/frameworks/**
!/frameworks/base/
/frameworks/base/**
!/frameworks/base/core/
!/frameworks/base/services/
!/frameworks/base/.gitignore
!/frameworks/base/core/**
!/frameworks/base/services/**
!/frameworks/base/media/
!/frameworks/base/media/**
!/frameworks/base/data/
/frameworks/base/data/**
!/frameworks/base/data/etc/
!/frameworks/base/data/etc/privapp-permissions-platform.xml

.*.swp
