/**
!/.gitignore

!/frameworks/
/frameworks/**
!/frameworks/base/
/frameworks/base/**
!/frameworks/base/core/
!/frameworks/base/services/
!/frameworks/base/.gitignore
!/frameworks/base/core/**
!/frameworks/base/services/**
!/frameworks/base/media/
!/frameworks/base/media/**
!/frameworks/base/data/
/frameworks/base/data/**
!/frameworks/base/data/etc/
!/frameworks/base/data/etc/privapp-permissions-platform.xml

!/vendor/
/vendor/**
!/vendor/opengapps/
/vendor/opengapps/**
!/vendor/opengapps/coral/
!/vendor/opengapps/coral/**

!/frameworks/native/
frameworks/native/**
!/frameworks/native/services/
/frameworks/native/services/**
!/frameworks/native/services/surfaceflinger/
!/frameworks/native/services/surfaceflinger/**

!/device/
/device/**
!/device/google/
/device/google/**
!/device/google/coral/
!/device/google/coral/aosp_coral.mk

.*.swp
